{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>List of all authors</h1>

    <table class="table">
        <thead>
            <tr>
                <th  class="text-center">Id</th>
                <th  class="text-center">FirstName</th>
                <th  class="text-center">LastName</th>
                <th  class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td  class="text-center">{{ author.id }}</td>
                <td  class="text-center">{{ author.firstName }}</td>
                <td  class="text-center">{{ author.lastName }}</td>
                <td  class="text-center">
                    <a href="{{ path('author_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">Create new</a>
{% endblock %}
