{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
{{ encore_entry_script_tags('book') }} 
    <h3>List of all books:</h3>
    <div class="form-row align-items-center ml-3">  
        {{include('includes/_sort.html.twig')}}  
    </div>
    <div class="form-row align-items-center ml-3">  
        {{include('book/_search_bar.html.twig')}}  
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Author</th>
                <th class="text-center">Title</th>
                <th class="text-center">Year</th>
                <th class="text-center">ISBN</th>
                <th class="text-center">FrontPage</th>
                <th class="text-center">Id</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody id='table'>
            {% include 'book/_book_loop.html.twig' %}
        </tbody>
    </table>
          <div>
        {{ knp_pagination_render(books) }}
    </div>
    <div>
        Total books: {{ books.getTotalItemCount }}
    </div>
    <a href="{{ path('book_new') }}">Create new</a>
{% endblock %}
