{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>List of all books:</h1>
    <div class="form-row align-items-center ml-3">  
    {{include('includes/_sort.html.twig')}}  
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Author</th>
                <th class="text-center">Title</th>
                <th class="text-center">Year</th>
                <th class="text-center">ISBN</th>
                <th class="text-center">FrontPage</th>
                <th class="text-center">Id</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td class="text-center">{{ book.title }}</td>
                <td class="text-center">{{ book.author }}</td>
                <td class="text-center">{{ book.year }}</td>
                <td class="text-center">{{ book.ISBN }}</td>
                <td class="text-center">  <img src="{{ asset('uploads/frontpages/' ~ book.frontpage) }}"alt="" border=3 height=100 width=100></img>  </td>
                <td class="text-center">{{ book.id }}</td>
                <td class="text-center" >
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {{ knp_pagination_render(books) }}
    </div>
    <div>
        Total books: {{ books.getTotalItemCount }}
    </div>

    <a href="{{ path('book_new') }}">Create new</a>
{% endblock %}
